.SecurityPasswordChange{

label{
  margin-left: 30%;
}

#password{
  margin-top: 10%;
}

#new_pass{
  margin-left: 28%;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: none;
    font-size: larger;
    border-radius: 25px;
    background-color:#e7e7e7;
    height: 50px;
    width: 300px;
    text-align: center;
}

button{
        border: none;
        width: 150px;
        height: 50px;
        background: #f12711;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f55719, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border: none;
        color:  white;
        padding: 16px 32px;
        text-align: center;
        font-size: 18px;
        font-weight: 150;
        margin: 4px 2px;
        transition: 0.3s;
        margin-top: 30px;
        margin-left: 38%;
        border-radius: 50px;
}

button:hover {
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #15b100, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #15b100, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    color: white;
    font-size: 20px;
  }
}
