.WardenLoggedIn{
#changepass{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    width: 200px;
    height: 50px;
    border: none;
    color: aliceblue;
    margin-left: 5px;
    margin-right: 5px;
    background: -webkit-linear-gradient(to right, #15b100, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #15b100, #56ab2f);
}

#changepass:hover {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 20px;
    height: 60px;
    width: 210px;
    background: -webkit-linear-gradient(to right, #139b01, #139b01);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #139b01, #139b01);
}
}
